@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image: url('../../Images/exotics-locations-header.png'); background-size:100% 100%;">
    <h1>Auto-Focus</h1>
    <p class="lead">Auto-Focus is an application that allows you rent sports and luxury cars easily for your next desired destination</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sports Cars</h2>
        <p>
            Browse the latest sports cars available.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Luxury Cars</h2>
        <p>Browse the latest luxury cars available.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Rewards & Offers!</h2>
        <p>Find the latest offers and loyalty bonuses while registering with us.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>